// MAPS
.tableInterest {
  width: 90%;
  margin: 0 auto;
}



#cityMap {
    height: 80vh;
    width:: 100vw;
}

#navbar {
  border-bottom: 2px solid #e13c3c;
}

.button {
  background-color: #e13c3c;
  margin-top: 20px;
  color: white;
}

.button:hover {
  transition:all .7s ease;
  background-color: #CC1717;
  color: white;
}

.durationButton {
  margin: 10px;
}

.newTripBtn {
  background-color: #e13c3c;
  color: white;
}

.newTripBtn:hover {
  background-color: white;
  border: 1px solid #CC1717;
  transition: all .4s ease;

}

.activity {
  width: 300px;
  height: 150px;
}

.newTripBtn a:hover {
  color: #CC1717;
}

.navbar-item {

}

.container {
  width: 90%;
  margin: 0 auto;
}

.category-is-selected {
  border: solid 3px red;
}

.map {
  position: relative;
  height: 500px;
  width:: 40vw;
}

.loginRegisterPage {
  background-image: url('https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?cs=srgb&dl=adult-book-business-297755.jpg&fm=jpg');
  background-size: cover;
}

.loginRegisterForm {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.mapHome {
  width: 100%;
  height: 70vh;
}

.interests {
  // background-image: url('https://images.pexels.com/photos/1047442/pexels-photo-1047442.jpeg?cs=srgb&dl=audience-band-bright-1047442.jpg&fm=jpg');
  // background-image: url('https://www.pexels.com/photo/light-landmark-building-architecture-135018');
  background-image: url('https://images.pexels.com/photos/896762/pexels-photo-896762.jpeg?cs=srgb&dl=ancient-arches-architecture-896762.jpg&fm=jpg');
  padding: 10px;
  height: 200px;
  width: 300px;
  background-size: contain;
  color: white;
  font-weight: bold;
}


.table {
  border-radius: 10px;
  background-color: light-grey;
}
