
<section class="hero is-light is-fullheight">
  <!-- MAP -->
  <section >
    <form ng-submit="getLocation()">
      <input ng-model="trip.city" class="input is-large has-text-centered" type="text" name="city" placeholder="e.g. London">
      <a class="button is-info is-large" ng-click="drawAccommodationMap()" ui-sref="tripsNew2">GO</a>
    </form>
  </section>
  <!-- SEARCH -->
<section class="is-light is-fullheight">
      <div class="is-multiline is-mobile">
          <div id="cityMap" class="map mapHome" ng-map map-name="city"></div>
      </div>
</section>
