
<!-- FORM -->
<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline is-mobile">

        <div class="container">
          <div class="level">

            <div class="level-left">
              <!-- MAPS -->
              <div class="map" ng-map map-name="accommodations"></div>
            </div>

            <div class="level-right">
              <div class="section">
                <div class="container">

                  <!-- DURATION -->
                  <div class="">
                    <h3 class="title is-3">Trip Duration</h3>
                    <a ng-repeat="duration in durations" class="button durationButton is-large is-outlined" durationVal="{{ duration }}" ng-click="toggleDuration($event)">{{duration}} days</a>
                  </div>

                  <!-- BUDGET -->
                  <div class="">
                    <h3 class="title is-3">Enter your budget</h3>
                    <form ng-submit="getBudget()">
                      <input ng-model="trip.budget" class="input is-large" required type="Number" name="budget" placeholder="e.g. 500">
                    </form>
                  </div>

                  <!-- ACCOMMODATION TYPES -->
                  <div class="">
                    <h3 class="title is-3">Accommodation Type</h3>
                    <a ng-repeat="accommodationType in accommodationTypes" ng-class="{ 'is-link': trip.accommodationTypes.includes(accommodationType), 'is-outlined': !trip.accommodationTypes.includes(accommodationType) }" class="button interestButton is-large" accommodationTypeVal="{{ accommodationType }}" ng-click="toggleAccommodation($event)">{{ accommodationType }} </a>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>

          <!-- PROPOSED ACCOMMODATIONS -->
          <div class="container">
            <!-- header -->
            <div class="section">
              <div class="level">
                <div class="level-left">
                  <h3 class="title is-3">Choose your accommodation</h3>
                </div>

                <div class="level-right">
                  <p class=""> {{ filteredAccommodations.length }} available to choose from</p>
                </div>
              </div>
              <!-- displays accommodation list-->
              <div class="column">
                <table class="table table-bordered">
                  <tr>
                    <th>Number</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Location</th>
                    <th>Price</th>
                  </tr>
                  <!-- When the selectedAccommodation row is equal to the index, then add the class of is-link -->
                  <tr ng-repeat="accommodation in filteredAccommodations" ng-class="{'has-background-link': $index === 'selectedAccommodationIndex'}">
                    <td>{{ $index }}</td>
                    <td><img src="{{ accommodation.imageUrl }}" alt="{{ accomodation.name }}"></td>
                    <td>{{ accommodation.name }}</td>
                    <td>{{ accommodation.rating }}</td>
                    <td>{{ accommodation.location }}</td>
                    <td>{{ accommodation.price }}</td>
                    <td ng-if="!selectedAccommodation.includes(accommodation.name)"><a class="button is-primary" ng-click="addAccommodation($index)">Select</a></td>
                    <td ng-if="selectedAccommodation.includes(accommodation.name)"><a class="button is-info" ng-click="removeAccommodation($index)">Remove</a></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <!-- BUTTONS -->
          <hr>
          <div class="container">
            <div class="level">

              <div class="level-left">
                <a class="button is-large is-info" ui-sref="tripsNew1">PREVIOUS</a>
              </div>

              <div class="level-right">
                <a class="button is-large is-info" ng-click="drawActivitiesMap()" ui-sref="tripsNew3">NEXT</a>
              </div>

            </div>
          </div>

      </div>
    </div>
  </div>
</section>
