<div class="container">
  <h2 class="title is-2">Select your interests</h2>
  <!-- Interests -->
  <!-- TODO: Display this on a separate page/view -->
  <section>
    <h3 class="title is-3">Choose your Interests</h3>
    <button ng-class="{ 'is-link': trip.categories.includes(interest), 'is-outlined': !trip.categories.includes(interest) }" ng-repeat="interest in interests" class="button interestButton is-large interests" interestVal="{{ interest }}" ng-click="toggleInterest($event)"> {{interest}} </button>
    <p>You've selected:<strong id="tripInterest">{{ selectedInterests }}</strong> </p>
  </section>
  <hr>
  <!-- Display Activities -->
  <section>
    <h3 class="title is-3">Choose your activities</h3>
    <div class="map" ng-map map-name="activities"></div>
    <p class="">There are {{ filteredActivites.length }} you can choose from</p>
    <table class="table table-bordered">
      <tr>
        <th>Number</th>
        <!-- <th>Image</th> -->
        <th>Name</th>
        <th>Rating</th>
      </tr>
      Selected activities is {{ selectedActivities }}
      <tr ng-repeat="activity in filteredActivites" ng-class="{'has-background-link': $index === selectedActivityIndex}">
        <td>{{ $index }}</td>
        <!-- <td><img src="{{ activity.imageUrl }}" alt="{{ activity.name }}"></td> -->
        <td>{{ activity.name }}</td>
        <td>{{ activity.rating }}</td>
        <td ng-if="!selectedActivities.includes(activity.name)"><a class="button is-primary" ng-click="addActivity($index)">Select</a></td>
        <td ng-if="selectedActivities.includes(activity.name)"><a class="button is-info" ng-click="removeActivity($index)">Remove</a></td>
      </tr>
    </table>
  </section>

  <p>selectedActivity = {{ selectedActivity }}</p>
  <hr>
  <p>activity = {{filteredActivites[selectedActivity].name}}</p>
  <hr>
  <div class="level">
    <div class="level-left">
      <a class="button is-large is-info" ui-sref="tripsNew2">PREVIOUS</a>
    </div>
    <div class="level-right">
      <a class="button is-large is-info" ui-sref="summary">NEXT</a>
    </div>
  </div>
</div>
