<!-- html page where the result itinerary is displayed to the user -->
<!-- <section class="hero is-medium is-bold"> -->

<div class="container">
  <h1 class="title is-title">Your Itnerary</h1>
  <section>
    <div class="columns is-multiline">
      <div class="column is-fullheight has-background-white" ng-repeat="day in days">
        <div ng-repeat="activity in trip.activities" ng-if="activity.dayNumber === day + 1" class="box">
          {{ activity.activity.name}}
        </div>
      </div>
    </div>
  <!-- </section> -->
  <!-- <div class="box">
  <p><strong>City</strong></p>
  <p>{{ trip.city }}</p>
</div>
<div class="box">
<p><strong>Budget</strong></p>
<p>{{ trip.budget }}</p>
</div>
<div class="box">
<p><strong>Duration</strong></p>
<p>{{ trip.duration }}</p>
</div>
<div class="box">
<p><strong>Accommodation Type</strong></p>
<p ng-repeat="accommodationType in trip.accommodationTypes">{{ accommodationType }}</p>
</div>
<div class="box">
<p><strong>Accommodation Name</strong></p>
<p ng-repeat="accommodation in trip.accommodations">{{ accommodation.accommodation.name }} {{ accommodation.accommodation.rating }}</p>
</div>
<div class="box">
<p><strong>Interests</strong></p>
<p ng-repeat="interest in trip.categories">{{ interest.name }}</p>
</div>
<div class="box">
<p><strong>Activities</strong></p>
<p ng-repeat="activity in trip.activities">{{ activity.activity.name }}</p>
</div> -->
</section>
