<!-- html page where the result itinerary is displayed to the user -->
<div class="container">
  <h1>Your Itnerary</h1>
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Confirm your trip details
        </h1>
        <h2 class="subtitle">
        </h2>
      </div>
    </div>
  </section>
    <section>
      <div class="columns is-multiline is-one-half">
        <div class="column has-background-light">
          <p>City</p>
          <p>Trip Duration</p>
          <p>Budget</p>
          <p>Accommodation Type</p>
          <p>Accommodation</p>
          <p>Interests</p>
          <p>Activities</p>
        </div>
        <div class="column has-background-info">
          <p>{{ trip.city }}</p>
          <p>{{ trip.duration }}</p>
          <p>{{ trip.budget }}</p>
          <p ng-repeat="accommodationType in trip.accommodationTypes">{{ accommodationType }}</p>
          <p ng-repeat="accommodation in trip.accommodations">{{ accommodation.name }} {{ accommodation.rating }}</p>
          <p ng-repeat="activity in trip.activities">{{ activity.name }}</p>
        </div>
      </div>
    </section>
