
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Confirm your trip details</h1>
    </div>
  </div>
</section>
<section>
  <form ng-submit="createNewTrip()">
    <div class="columns container is-multiline">
      <div class="column has-background-info is-one-quarter">
        <p><strong>City</strong></p>
        <p><strong>Trip Duration</strong></p>
        <p><strong>Budget</strong></p>
        <p><strong>Accommodation Type</strong></p>
        <p><strong>Accommodation</strong></p>
        <p><strong>Interests</strong></p>
        <p><strong>Activities</strong></p>
      </div>
      <div class="column has-background-light">
        <p>{{ trip.city }}</p>
        <p>{{ trip.duration }}</p>
        <p>{{ trip.budget }}</p>
        <p ng-repeat="accommodationType in trip.accommodationTypes">{{ accommodationType }}</p>
        <p ng-repeat="accommodation in trip.accommodations">{{ accommodation.name }} {{ accommodation.rating }}</p>
        <p ng-repeat="activity in trip.activities">{{ activity.name }}</p>
      </div>
    </div>
    <div class="level-left">
      <a class="button is-large is-info" ui-sref="tripsNew4">Previous</a>
    </div>
  </div>
  <div class="level">
    <div class="level-right">
      <a class="button is-large is-info" type="submit" name="confirm" ng-click="handleSubmit()">Confirm</a>
    </div>
  </form>
</section>
