<section class="is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline is-mobile">

        <!-- TITLE -->
        <section class="is-medium is-bold has-text-centered">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">Trip Confirmation form</h1>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</section>

<section class="is-light is-fullheight">
    <div class="hero-body">
      <div class="container">

        <form ng-submit="createNewTrip()">
          <div class="column has text-centered">
            <div class="box columns is-half">

              <div class="column box">
                <a class="navbar-item box"><strong>City</strong></a>
                <a class="navbar-item"><strong>Duration</strong></a>
                <a class="navbar-item"><strong>Budget</strong></a>
                <a class="navbar-item"><strong>Accommodation Type</strong></a>
                <a class="navbar-item"><strong>Accommodation Name</strong></a>
              </div>
              <div class="column box">
                <a class="navbar-item">{{ trip.city }}</a>
                <a class="navbar-item">{{ trip.duration }}</a>
                <a class="navbar-item">{{ trip.budget }}</a>
                <a class="navbar-item" ng-repeat="accommodationType in trip.accommodationTypes">{{ accommodationType }}</a>
                <a class="navbar-item" ng-repeat="accommodation in trip.accommodations">{{ accommodation.accommodation.name }} {{ accommodation.accommodation.rating }}</a>
              </div>


            </div>

            <div class="columns is-half">
              <!-- <div class="column box">
                <div class="box">
                  <p><strong>Interests</strong></p>
                  <p ng-repeat="interest in trip.categories">{{ interest.name }}</p>
                </div>
              </div> -->
              <div class="column box">
                <a class="navbar-item"><strong>Activities</strong></a>
              </div>
              <div class="column box">
                <p ng-repeat="activity in trip.activities">{{ activity.activity.name }}</p>
              </div>
                <!-- <div class="box">
                  <p><strong>Activities</strong></p>
                  <p ng-repeat="activity in trip.activities">{{ activity.activity.name }}</p>
                </div> -->
            </div>

          </div>
        </form>


      </div>
    </div>
</section>

<section class="is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline is-mobile">

        <!-- BUTTONS -->
        <div class="container">
          <div class="level">

            <div class="level-left">
              <a class="button is-large is-info" ui-sref="tripsNew3">Previous</a>
            </div>

            <div class="level-right">
              <a class="button is-large is-info" type="submit" name="confirm" ng-click="handleSubmit()">Confirm</a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
