<!-- page that shows the user's dashboard -->
<div class="columns is-multiline">
  <div class="column side-nav is-one-quarter has-text-centered">
    <img src="{{ user.imageUrl }}" alt=" {{ user.FirstName }}">
    <h3 class="title is-3">{{ user.firstName }} {{ user.lastName }}</h3>
    <a ui-sref="usersEdit({ id: user._id })" class="button is-medium" ng-if="isAuthenticated()">Edit account details</a>
  </div>
  <div class="column">
    <h3 class="title is-3">Dashboard</h3>
    <section>
      <div class="box" ng-repeat="trip in user.trips">
        <div class="columns">
          <div class="column">
            <p><strong>Location</strong></p>
            <p>{{ trip.city }}</p>
          </div>
          <div class="column">
            <p><strong>Duration</strong></p>
            <p>{{ trip.duration }} days</p>
          </div>
          <div class="column">
            <p><strong>Budget</strong></p>
            <p>{{ trip.budget }}</p>
          </div>
          <div class="column">
            <p><strong>Accommodation</strong></p>
            <p ng-repeat="accommodation in user.trips.accommodations"</p>
              <p>{{ accommodation.name }}</p>
            </div>
            <div class="column">
              <p ng-repeat="activity in trip.activities">{{ activity.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
